/*Navbar*/

.navbar.navbar-default .container-fluid #bs-example-navbar-collapse-1 {
    background-color: #F2F6F9;
}

.navbar.navbar-default .navbar-collapse {
    border: none;
    background-color: #F2F6F9;
    box-shadow: none;
}

.navbar.navbar-default {
    border: none;
    background-color: #F2F6F9;

}

.navbar-default {
    margin: 0 !important;
    background-color: #F2F6F9;
    height: 90px;

}

#navlist {
    margin-top: 15px;
    top: 0;
    left: 0;
    margin-left: 20px;

}


#sorun_brand {
    margin-left: 6%;
    margin-top: 3px;
    position: absolute;
    top: 0;
    left: 0;

}


#sorunweb_button {
    margin-top: 15px;
    background-color: #31B4EA;
    color: #f2f5f8;
    margin-right: 100px;
}
