.imgfeature {
    max-width: 450px;
    display: block;
    margin: auto;
}

.p {
    margin: 0 0 -10px 0;
}

#logocontact {
    width: 98px;
    height: 47px;
    opacity: 0.4;

}

.container {
    margin: 30px auto;
}

.socialogo {
    width: 12px;
    height: 25px;
    opacity: 0.5;
}

.copyrightdetail {
    height: 16px;
    opacity: 0.5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/* Sorun button */

.btn-sorun {
    float: left;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 25px;
    background-color: #c35e3e;
    border: none;
    margin: 20px auto;
}

.newbluehead {
    color: #36B4E6;
    font-size: 30px;
    font-weight: 500;
}

/* Sorun header and paragraph */

.sorunbluehead {
    color: #36B4E6;
    font-size: 90px;
    font-weight: 700;
}

.sorungrayhead {
    color: #717171;
    font-size: 27px;
    height: 10px;
}

.sorunheader {
    color: #404040;
    font-size: 30px;
    font-weight: 500;
}

.sorundetail {
    height: 82px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #626c72;

}

.container {
    margin: 60px auto;
}

.row {
    margin: inherit;
}


button,
input,
optgroup,
select,
textarea {
    margin: 0 0 0 7px;
}

/* Triangles */

.triangle-wh {
    margin-top: 45px;
    position: relative;
    width: 100%;
    height: auto;
}

.triangle {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 55px auto;
    width: 0;
    height: 0;
    z-index: 1;
    border-top: solid 50px white;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

/* triangle box gray */

.triangle-gr {
    position: relative;
    background-color: #F6FBFD;
    width: 100%;
    height: auto;
}

.triangle-gr:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 50px #F6FBFD;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

/* Navbar */

.navbar {
    min-height: 70px;
    border: 0;
}

.navbar-default {
    background-color: #ffffff;
}

.navbar-toggle {
    margin-top: 17px;
}


#sorunwebttn {
    background-color: #31B4EA;
    color: #f2f5f8;
}


@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin-top: 10px
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        padding: 15px 15px 0 4em;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        margin-right: 20px;
    }
}


/* First Section */

@media (min-width: 280px) and (max-width:400px) {
    #firstheadpos {
        text-align: center;
    }
    #firttextpos {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width:992px) {
    #coworkpos {
        margin-top: 30px;
    }
    #firstheadpos {
        margin-top: 50px;
    }
}

@media (min-width: 1024px) {
    #firstheadpos {
        margin-top: 30px;
    }
}

@media (min-width: 1440px) {
    #firstheadpos {
        margin-top: 50px;
    }
}


/* SorunNedir Section */

/* SorunChat Section */

@media (min-width: 768px) and (max-width:992px) {
    #chathead {
        font-size: 60px;
    }
}

@media (min-width: 1200px) {
    #sorunchatdiv {
        margin-top: 5em;
    }
}

@media (min-width: 768px) {
    #sorunchatdiv {
        padding: 0 0 30px 0;
    }
}


/*Sorun Social Section */

@media (min-width: 400px) {
    #socialsecimg {
        width: 350px;
    }
}

/*Sorun Help Section */

@media (min-width: 1200px) {
    #helpPos {
        margin: inherit;
        padding-right: 30px;
    }
}

@media (min-width: 1440px) {
    #helpdivPos {
        margin-left: 5%;
    }
}



@media (min-width: 992px) {
    #socialsecimg {
        width: 430px;
    }
}


/*NewChannels Section */

#twitlogo {
    width: -webkit-fill-available;
}


/* Companies */

#comp {
    margin-top: -30px;
    height: auto;
}


.customerLogoContainer {
    text-align: center;
}

.customerLogo {
    filter: gray;
    /* IE5+ */
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
}

/*
 width: 200px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */

/* filter: gray; /* IE6-9 */

/*  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */

.customerLogo:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}


/* Contact Section */

.contact {
    background-color: #616f74;
    margin-bottom: 0;
    padding-bottom: 0;
    height: min-content;

}

/* Sorun Help Page */

@media (min-width: 280px) {
    #webformfont {
        font-size: 60px;
    }

}

@media (min-width: 768px) {
    #webformfont {
        font-size: 60px;
    }

}

@media (min-width: 1024px) {
    #emaildiv {
        margin-left: 8%;
    }
    #imgemail {
        margin-right: 10%;
    }
}

@media (min-width: 1440px) {
    #webformdiv {
        margin-left: 5%;
    }
    #emaildiv {
        margin-left: 8%;
    }
}

@media (min-width: 2560px) {
    #emaildiv {
        margin-left: 8%;
    }
    #imgemail {
        margin-right: 15%;
    }

}


/* SorunAi Page */

.secondbluehead {
    font-size: 90px;
    color: #36B4E6;
    font-weight: 700;
}


/* SorunChat Page */

.midsizeblue {
    color: #36B4E6;
    font-size: 25px;
    font-weight: 700;
}

@media (min-width: 280px) {
    .chatpagefont {
        font-size: 60px;
    }
    #messengerfont {
        font-size: 50px;
    }
}

@media (min-width: 768px) {
    .chatpagefont {
        font-size: 60px;
    }
}

@media (min-width: 1024px) {
    #appchatdiv {
        margin-left: 6%;
    }
    #bipdiv {
        margin-left: 6%;
    }
}

@media (min-width: 1440px) {
    #appchatdiv {
        margin-left: 7%;
    }
    #bipdiv {
        margin-left: 7%;
    }
}



@media (min-width: 2560px) {
    #webimgdiv {
        margin-left: 10%;
    }
    #chatmustdiv {
        margin-top: 100px;
        margin-left: 8%;
    }
    #appchatdiv {
        margin-left: 8%;
    }
    #messengerfont {
        font-size: 68px;
    }
    #bipdiv {
        margin-left: 8%;
    }
}



/* Sorun Social Page */

@media (min-width: 280px) {
    .font-size {
        font-size: 50px;
    }


}

@media (min-width: 768px) {
    .font-size {
        font-size: 50px;
    }


}

/* SorunDash Page */

@media (min-width: 992px) {
    .font-size {
        font-size: 70px;
    }
    .cont-pos {
        margin-left: 4%;
    }
    .inherit-div {
        margin: inherit;
    }
    #cont-pos {
        margin-left: 3%;
    }
    #team-row {
        margin-left: 4%;
    }

}


@media (min-width: 1200px) {
    .font-size {
        font-size: 70px;
    }
    .cont-pos {
        margin-left: 7%;
        padding-right: 20px;
    }
    .inherit-div {
        margin: inherit;
    }
}

/* SorunDash Page  */

@media (min-width: 1400px) {
    .cont-pos {
        margin-left: 6%;
    }
    #ekip-pos {
        margin-top: 30px;
    }
    #team-row {
        margin-left: 4%;
    }

    .cont-product {
        margin-left: 8%;
    }
}

/*  SorunAi Page */

@media (min-width: 280px) {
    #aimod {
        font-size: 50px;
    }
    #chatbotfont {
        font-size: 70px;

    }
}


@media (min-width: 1400px) {
    #salepos {
        margin: inherit;
        margin-left: 5%;
    }
    #aimod {
        font-size: 59px;
    }
}

@media (min-width: 992px) {
    #salepos {
        margin: inherit;
        margin-left: 6%;
    }
    .midfontsize {
        font-size: 70px;
    }
    #chatbotdivpos {
        padding-right: 80px;
    }
    #aimod {
        font-size: 50px;
    }
}
