.imgResponsive {
    max-width: 100%;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

.bg{
    background-color: #F2F6F9
}


/*Navbar*/

.navbar.navbar-default .container-fluid #bs-example-navbar-collapse-1 {
    background-color: #F2F6F9;
}

.navbar.navbar-default .navbar-collapse {
    border: none;
    background-color: #F2F6F9;
    box-shadow: none;
}

.navbar.navbar-default {
    border: none;
    background-color: #F2F6F9;

}

.navbar-default {
    margin: 0;
    background-color: #F2F6F9;
    height: 90px;

}

#navlist {
    margin-top: 15px;
    top: 0;
    left: 0;
    margin-left: 20px;
}


#sorun_brand {
    margin-left: 40px;
    margin-top: 6px;
    top: 0;
    left: 0;

}


#sorunweb_button {
    margin-top: 15px;
    background-color: #31B4EA;
    color: #f2f5f8;
    margin-right: 100px;
}


/* First Section */


.triangle {
    position: relative;
    background-color: #F2F6F9;
    width: 100%;
    height: auto;
    margin-top: -20px;
    z-index: -1;
}

.triangle:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 50px #F2F6F9;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.firsttext {
    margin-top: 20px;
}

#incele_button {
    float: left;
    width: 200px;
    border-radius: 25px;
    background-color: #36B4E6;
    border: none;
    margin: 0 auto;

}

#inc_btn {
    color: white;
}

#firstparthead {
    padding-bottom: 30px;

}

#detailpart {
    color: #899296;
    font-size: 20px;
}

/* Second Section */

.blueHeader {
    color: #36B4E6;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

#blue_header_detail {
    text-align: center;
    font-style: normal;
    color: #899296;
}


#sorunchat_img {
    margin-top: 80px;
}

#sorunchat_img2 {
    margin-top: 60px;
}

.triangle-sec {
    margin-top: 45px;
    position: relative;
    width: 100%;
    height: auto;
}

.triangle-sec:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    z-index: 1;
    border-top: solid 50px orange;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

/* Sorun Chat */
